.header {
  h1 {
    padding: $indent;
  }
}

.personal-details {
  .address {
    flex: 1 1 auto;
  }
}

.photo__wrapper {
  margin: 0;
}

.cv-photo {
  max-width: 200px;
}

.cv-name {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.personal-detail__list {
  list-style: none;
}

.personal-detail__list-item {
  display: flex;
  line-height: 2.5rem;
  .list-item__description {
    margin-right: 8px;
    font-weight: 700;
    text-align: right;
    min-width: 150px;
  }
}
